
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .container-centered {
    display: flex;
    justify-content: center;
  }
  
  .btn-cerrar{
    width:200px;
    margin-right: 75px;
  }

  .btn-logo{
    margin-left: 60px;
  }