

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .vpedido {
    width: 80%; /* Ajusta el ancho según tus necesidades */
    max-width: 800px; /* Máximo ancho */
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .cabecera {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }
  
  .cabecera {
    background-color: #f2f2f2;
  }
  
  